.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 90px;
    /* background-color: red; */
    padding: 0 1rem;
    position: fixed;
}

.logo-principal {
    width: 250px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.list-container {
    /* background-color: aqua; */
    width: 50%;
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.header-list li {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(70, 70, 70);
}

.cliente-list {
    padding: 5px 15px;
    border-radius: 20px;
    color: white;
    background-color: #002B50;
}

.cliente-list:hover {
    background-color: rgb(0, 0, 143);
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.cliente-list a {
    color: white;
}

.header-list li:hover {
    color: black;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.contain-principal {
    background-image: url('../assets/home.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
}

.texto-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: black solid 1px; */
    padding: 5px;
    width: 40%;
    height: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.texto-principal-p {
    color: #002B50;
    text-align: center;
    font-size: 40px;
}

.texto-secundario-p {
    color: rgb(39, 39, 39);
    text-align: center;
    font-size: 30px;
}

.boton-principal {
    margin-top: 20px;
    border: none;
    border-radius: 50px;
    background-color: #002B50;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.boton-principal:hover {
    background-color: rgb(0, 0, 199);
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.container-calculadoras {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: black solid 1px; */
    margin-top: 20px;
}

.interes-simple {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border: black solid 1px; */
    width: 100%;
    height: 500px;
    padding: 20px;
    gap: 20px;
}

.interes-simple-mensaje {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: black solid 1px; */
}

.interes-simple-mensaje {
    font-size: 40px;
    color: #002B50;
    text-wrap: wrap;
}

.interes-simple-mensaje p {
    color: rgb(39, 39, 39);
    text-align: center;
    font-size: 20px;
}

.boton-simple {
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-color: #002B50;
    color: white;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    width: 250px;
}

.boton-simple:hover {
    background-color: rgb(0, 0, 199);
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.interes-simple-imagen {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagen-interes {
    width: 80%;
    height: 80%;
    border-radius: 20px;
}

/* --------------------- */

.interes-compuesto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border: black solid 1px; */
    width: 100%;
    height: 500px;
    padding: 20px;
    gap: 20px;
}

.interes-compuesto-mensaje {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: black solid 1px; */
}

.interes-compuesto-mensaje {
    font-size: 40px;
    color: #002B50;
    text-wrap: wrap;
}

.interes-compuesto-mensaje p {
    color: rgb(39, 39, 39);
    text-align: center;
    font-size: 20px;
}

.boton-compuesto {
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-color: #002B50;
    color: white;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    width: 250px;
}

.boton-compuesto:hover {
    background-color: rgb(0, 0, 199);
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.interes-compuesto-imagen {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagen-interes {
    width: 80%;
    height: 80%;
    border-radius: 20px;
}